h1{
	color:red;
}

h2{
	color:red;
}

h3{
	color:red;
}

p{
	align:justify;
	color:white;
}

body{
	background-color:black;
	text-align:center;
}

img{
	max-height:100%;
	max-width:100%;
}

li{
	color:white;
}

