<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bbv.prototype1"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.bbv.prototype1" >
    </instrumentation>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_test2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.bbv.prototype1.Pros_og_Teori"
            android:label="@string/prosedyrer_og_teori" >
        </activity>
        <activity
            android:name="com.bbv.prototype1.Ovinger"
            android:label="@string/title_tests" >
        </activity>
        <activity
            android:name="com.bbv.prototype1.TheoryAndLabAssignments.ShowContent"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="com.bbv.prototype1.SHOWCONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bbv.prototype1.SQLPros_Teori"
            android:label="Database" >
        </activity>
        <activity
            android:name=".Menus.AboutUs"
            android:label="@string/AboutUsLabel"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.bbv.prototype1.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menus.Calc_info"
            android:label="@string/CalcSettingsInfoLabel"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.bbv.prototype1.SHOWCALCINFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menus.SetCalcPrefs"
            android:label="@string/CalcSettingsLabel" >
            <intent-filter>
                <action android:name="com.bbv.prototype1.SETCALCPREFS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Database.SQLView"
            android:label="View" >
            <intent-filter>
                <action android:name="com.bbv.prototype1.SQLVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bbv.prototype1.Kalkulator"
            android:configChanges="orientation|screenSize"
            android:label="Kalkulator" >
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>